@page "{id:int}"
@model NRM.Pages.AdminPanel.GroupParcel.ViewModel
@{
    ViewData["Title"] = $"Группа РПО: {Model.GroupParcel.TrackNumber}";
}

<section>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">@ViewData["Title"]</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <!-- Кнопка-триггер модального окна -->
                <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#statusModal">
                    Смена статуса
                </button>
                @if (User.IsInRole("Полный администратор"))
                {
                    <a class="btn btn-sm btn-outline-secondary" asp-page="Edit" asp-route-id="@Model.GroupParcel.Id">Изменение группы РПО</a>
                }
                <form method="post">
                    <input type="submit" asp-page-handler="Delete" class="btn btn-sm btn-outline-secondary" value="Удалить">
                </form>
            </div>
        </div>
    </div>

    <!-- Модальное окно -->
    <div class="modal fade" id="statusModal" tabindex="-1" aria-labelledby="statusModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Смена статуса группы РПО</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label asp-for="Input.StatusId"></label>
                            <select class="form-control form-control-sm" asp-for="Input.StatusId" asp-items="Model.Input.StatusItems"></select>
                            <span asp-validation-for="Input.StatusId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <td>Трек-номер</td>
                <td>@Model.GroupParcel.TrackNumber</td>
            </tr>
            <tr>
                <td>Дата и время создания</td>
                <td>@($"{Model.GroupParcel.DepartureTime.ToShortTimeString()} {Model.GroupParcel.DepartureDate.ToShortDateString()}")</td>
            </tr>
            <tr>
                <td>Место отправки</td>
                <td><a asp-page="/AdminPanel/Place/View" asp-route-id="@Model.GroupParcel.PlaceOfDeparture.Id">@Model.GroupParcel.PlaceOfDeparture.Name</a></td>
            </tr>
            <tr>
                <td>Место доставки</td>
                <td><a asp-page="/AdminPanel/Place/View" asp-route-id="@Model.GroupParcel.PlaceOfDelivery.Id">@Model.GroupParcel.PlaceOfDelivery.Name</a></td>
            </tr>
            <tr>
                <td>Статус</td>
                <td><a asp-page="/AdminPanel/ParcelStatus/View" asp-route-id="@Model.GroupParcel.Status.Id">@Model.GroupParcel.Status.Name</a></td>
            </tr>
            <tr>
                <td>Ответственный за доставку</td>
                <td><a asp-page="/AdminPanel/User/View" asp-route-id="@Model.GroupParcel.User.Id">@Model.GroupParcel.User.Name</a>@($" {Model.GroupParcel.User.UName} ({Model.GroupParcel.User.UWork})")</td>
            </tr>

        </tbody>
    </table>

    <table class="table">
        <thead>
            <tr>
                <th>Трек-номер</th>
                <th>Тип РПО</th>
                <th>Отправитель</th>
                <th>Получатель</th>
                <th>В/ч получения</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var parcel in Model.GroupParcel.Parcels)
            {
                <tr>
                    <td><a asp-page="/AdminPanel/Parcel/View" asp-route-id="@parcel.Id">@parcel.TrackNumber</a></td>
                    <td><a asp-page="/AdminPanel/ParcelType/View" asp-route-id="@parcel.Type.Id">@parcel.Type.Name</a></td>
                    <td>@parcel.Sender</td>
                    <td>@parcel.Recipient</td>
                    <td>@parcel.MilitaryUnit</td>
                </tr>
            }
        </tbody>
    </table>

    <table class="table">
        <thead>
            <tr>
                <th>Тип лога</th>
                <th>Сообщение</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var log in Model.GroupParcel.LogGroupParcels)
            {
                <tr>
                    <td>@log.Type</td>
                    <td><a asp-page="/AdminPanel/LogParcel/View" asp-route-id="@log.Id">@log.Message</a></td>
                </tr>
            }
        </tbody>
    </table>
</section>