@page "{id:int}"
@model NRM.Pages.AdminPanel.Place.ViewModel
@{
    ViewData["Title"] = $"Место: {Model.Place.Name}";
}

<main>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">@ViewData["Title"]</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <!-- Кнопка-триггер модального окна -->
                <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#statusModal">
                    Добавление в/ч
                </button>
                <a class="btn btn-sm btn-outline-secondary" asp-page="Edit" asp-route-id="@Model.Place.Id">Изменение места</a>
                <button type="button" class="btn btn-sm btn-outline-secondary">xУдалить</button>
            </div>
        </div>
    </div>

    <!-- Модальное окно -->
    <div class="modal fade" id="statusModal" tabindex="-1" aria-labelledby="statusModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Добавление в/ч</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                    </div>
                    <input type="hidden" name="militaryUnit.PlaceId" value="@Model.Place.Id" />
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Наименование в/ч:</label><br />
                            <input class="form-control" type="text" name="militaryUnit.Name" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        <button type="submit" asp-page-handler="CreateMilitaryUnit" class="btn btn-primary">Добавить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div asp-validation-summary="ModelOnly"></div>

    <table class="table">
        <tbody>
            <tr>
                <td>Название</td>
                <td>@Model.Place.Name</td>
            </tr>
        </tbody>
    </table>

    @if (Model.Place.MilitaryUnits != null && Model.Place.MilitaryUnits.Count > 0)
    {
        <table class="table">
            <caption>Список в/ч</caption>
            <thead>
                <tr>
                    <th>Наименование</th>
                    <th>Удаление</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var militaryUnit in Model.Place.MilitaryUnits)
                {
                    <tr>
                        <td>@militaryUnit.Name</td>
                        <td>
                            <form method="post">
                                <input type="hidden" name="idMilitaryUnit" value="@militaryUnit.Id">
                                <input type="hidden" name="idPlace" value="@Model.Place.Id">
                                <button type="submit" asp-page-handler="DeleteMilitaryUnit" class="btn btn-sm btn-outline-secondary">Удалить</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

    @if (Model.Place.GroupParcels != null && Model.Place.GroupParcels.Count > 0)
    {
        <table class="table">
            <caption>Закрепленные групповые посылки</caption>
            <thead>
                <tr>
                    <th>Трек-номер</th>
                    <th>Статус</th>
                    <th>Количество посылок</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var groupParcel in Model.Place.GroupParcels)
                {
                    <tr>
                        <td><a asp-page="/AdminPanel/GroupParcel/View" asp-route-id="@groupParcel.Id">@groupParcel.TrackNumber</a></td>
                        <td>@groupParcel.Status</td>
                        <td>@groupParcel.ParcelCount</td>
                    </tr>
                }
            </tbody>
        </table>
    }

    @if (Model.Place.Users != null && Model.Place.Users.Count > 0)
    {
        <table class="table">
            <caption>Закрепленные пользователи</caption>
            <thead>
                <tr>
                    <th>Логин</th>
                    <th>ФИО</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Place.Users)
                {
                    <tr>
                        <td><a asp-page="/AdminPanel/User/View" asp-route-id="@user.Id">@user.Login</a></td>
                        <td>@user.FullName</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</main>