@page "{id:int}"
@model NRM.Pages.AdminPanel.LogType.ViewModel
@{
    ViewData["Title"] = $"Тип логов: {Model.LogType.Name}";
}

<main>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">@ViewData["Title"]</h1>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <td>Название</td>
                <td>@Model.LogType.Name</td>
            </tr>
        </tbody>
    </table>

    @if(Model.LogType.Logs != null && Model.LogType.Logs.Count > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Лог</th>
                    <th>Дата и время</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var log in Model.LogType.Logs)
                {
                    <tr>
                        <td><a asp-page="/AdminPanel/LogParcel/View" asp-route-id="@log.Id">@log.Message</a></td>
                        <td>@log.Time.ToShortTimeString() @log.Date.ToShortDateString()</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Логов с данным типом нет.</p>
    }
</main>